%html
  %head
    %title torrentsync
  %body
    %table
      %tr
        %th Client
        %th Host
        %th Port
        %th Status
      - peers.each do |peer|
        %tr
          %td= peer[0]
          %td= peer[1]
          %td= peer[2]
          %td= status[peer]
    %table
      %tr
        %th Hash
        %th Name
        %th Peers
      - torrents.map do |hash, t|
        - total = t[:peers].inject(0.0){|v,h|v + h[1]}
        %tr
          %td= hash
          %td= t[:name]
          %td== #{t[:peers].size}(#{(total * 100).to_i}%)
