%html
  %head
    %title torrentsync
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
  %body
    %a{:href => '/upload'} Upload
    %br
    %table
      %tr
        %th Client
        %th Host
        %th Port
        %th Status
      - peers.each do |peer|
        - path = peer[0] == 'utorrent' ? 'gui' : ''
        %tr
          %td= peer[0]
          %td
            %a{:href => "http://#{peer[1]}:#{peer[2]}/#{path}"}= peer[1]
          %td= peer[2]
          %td{:class => status[peer]}= status[peer]
    %br
    %table
      %tr
        %th Peers
        %th Name
      - torrents.map do |hash, t|
        - total = t[:peers].inject(0.0){|v,h|v + h[1]}
        - rep = total < 1 ? :broken : total < 2 ? :poor : total < 3 ? :good : :great
        %tr
          %td{:class => rep}== #{t[:peers].size}(#{(total * 100).to_i}%)
          %td
            %a{:href => "/t/#{hash}"}= t[:name]
