%html
  %head
    %title torrentsync
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    %script{:type => 'text/javascript', :src => 'jquery-1.5.min.js'}
    %script{:type => 'text/javascript', :src => 'index.js'}
  %body
    %a{:href => '/upload'} Upload
    %br
    %br
    %table
      %tr
        %th Nick
        %th Client
        %th Host:Port
        %th Status
        %th Used(%)
        %th Used
        %th Capacity
        %th Torrents
      - peerinfo.each do |key, peer|
        %tr
          %td= peer[:nick]
          %td= peer[:client]
          %td= key
          %td{:class => peer[:status]}= peer[:status]
          - usedp = peer[:total].to_f / peer[:size] * 100
          %td{:class => :size}= "%5.1f %%" % usedp
          %td{:class => :size}= sizestr(peer[:total])
          %td{:class => :size}= sizestr(peer[:size])
          %td{:class => :size}= peer[:have]
    %br
    %table
      %tr
        %th Total Size
        %td{:class => :size}= sizestr(totalsize)
      %tr
        %th Used(%)
        - usedp = used.to_f / capacity * 100
        %td{:class => :size}= "%5.1f %%" % usedp
      %tr
        %th Used
        %td{:class => :size}= sizestr(used)
      %tr
        %th Capacity
        %td{:class => :size}= sizestr(capacity)
    %br
    %input#hidegreen{:type => :checkbox} Hide green torrents
    %br
    %input#filter{:type => :text} Filter torrents
    %br
    %br
    %table#torrents
      %tr
        %th
          %a{:href => '/?s=rep'} Peers
        %th
          %a{:href => '/?s=size'} Size
        %th
          %a{:href => '/?s=name'} Name
      - torrents.sort_by{|hsh, tr| tr[sortby]}.each do |hash, t|
        - total = t[:peers].inject(0.0){|v,h|v + h[1]}
        - rep = total < 1 ? :broken : total < 2 ? :poor : total < 3 ? :good : :great
        %tr.torrent
          %td{:class => rep}== #{t[:peers].size}(#{(total * 100).to_i}%)
          %td{:class => :size}= sizestr(t[:size])
          %td
            %a{:href => "/t/#{hash}"}= t[:name]
